In [2]:
#导入必要的工具包
import pandas as pd
import numpy as np
import pickle as  pk

In [3]:
path='../event_recommendation_engine_challenge_data/'

In [6]:
#保存活动索引表
uniqueEvent=pk.load(open("PE_eventIndex.pkl", 'rb'))

In [8]:
#读取数据
events = pd.read_csv(path+"events.csv")

In [18]:
index_Event=events['event_id'].isin(uniqueEvent)

In [30]:
used_Event=events[index_Event]

In [33]:
used_Event=used_Event.reset_index(drop=True)

In [34]:
used_Event.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13418 entries, 0 to 13417
Columns: 110 entries, event_id to c_other
dtypes: float64(2), int64(103), object(5)
memory usage: 11.3+ MB

In [37]:
used_Event.head()

,event_id,user_id,start_time,city,state,zip,country,lat,lng,c_1,...,c_92,c_93,c_94,c_95,c_96,c_97,c_98,c_99,c_100,c_other
0,684921758,3647864012,2012-10-31T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,2,...,0,1,0,0,0,0,0,0,0,9
1,244999119,3476440521,2012-11-03T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,2,...,0,0,0,0,0,0,0,0,0,7
2,3928440935,517514445,2012-11-05T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,12
3,2582345152,781585781,2012-10-30T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,1,...,0,0,0,0,0,0,0,0,0,8
4,1051165850,1016098580,2012-09-27T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,1,...,0,0,0,0,0,0,0,0,0,9

### 只保存在训练集和测试集中出现的活动记录

In [36]:
used_Event.to_csv(path+'used_Event.csv')